@define-color background_color #263238;
@define-color secondary_color #2c3e50;
@define-color text_color #cfd8dc;

.embed {
    background-color: #364759;
    color: #cbcbcb;
    border-radius: 5px;
    padding: 10px;
}

.embed-footer {
    margin-top: 5px;
    font-size: 11px;
}

.embed-author {
    margin-bottom: 10px;
    font-size: 12px;
}

.channel-list {
    background-color: @secondary_color;
}

.channel-row-label {
    padding: 5px;
}

.channel-row-label, .channel-row-label text {
    color: @text_color;
    background: rgba(0, 0, 0, 0);
}

.channel-row-label.nsfw text {
    color: #ed6666;
}

.channel-row:focus {
    background-color: #34495e;
}

.channel-row-category {
    padding-left: 15px;
}

.channel-row-channel {
    padding-left: 30px;
}

.messages, .message-container {
    background-color: @background_color;
}

.messages {
    padding: 15px;
}

.message-container + .message-container {
    margin-top: 10px;
}

.message-container-extra {
    color: #78909c;
    margin-left: -5px;
    margin-right: -5px;
}

.message-container-timestamp {
    color: #78909c;
}

.message-text {
    padding-top: 5px;
}

.message-text text, .message-reply {
    color: @text_color;
}

.message-reply {
    border-left: 2px solid gray;
    padding-left: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
    opacity: 0.7;
}

.message-text + .message-text {
    padding-top: 5px;
}

.message-text text {
    background-color: @background_color;
}

.message-input, .message-input textview, .message-input textview text {
    background-color: @secondary_color;
    color: @text_color;
}

.message-input {
    padding: 0px 0px 0px 5px;
}

.members {
    background-color: @background_color;
}

.members-row-label {
    color: @text_color;
    padding: 5px;
}

.members-row-member {
    padding: 0;
    padding-left: 15px;
}

.message-attachment-box {
    color: #aaaaaa;
    border: 1px solid #aaaaaa;
    padding: 2px 5px 2px 5px;
}

.message-attachment-box label {
    margin: 5px;
}

.reaction-box {
    padding: 2px 5px 2px 5px;
    margin: 0px 0px 0px 0px;
    background-color: rgba(0.4, 0.4, 0.4, 0.4);
    border-radius: 5px;
    border: 1px solid transparent;
}

.reaction-box.reacted {
    border: 1px solid white;
}

.reaction-count {
    color: @text_color;
}

.completer {
    background-color: @secondary_color;
    padding: 5px;
}

.completer-entry {
    color: @text_color;
}

.completer-entry-image {
    margin-right: 6px;
}

.typing-indicator {
    margin-top: 10px;
    margin-bottom: -7px;
    color: @text_color;
}

.app-window label:not(:disabled) {
    color: @text_color;
}

.app-window entry {
    background: @secondary_color;
    color: @text_color;
    border: 1px solid #1c2e40;
}

.app-window button {
    background: @secondary_color;
    color: @text_color;
    text-shadow: none;
    box-shadow: none;
}

.app-window button:checked {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 3px solid #39a2ed;
    color: #ffffff;
}

.app-window button:not(:checked) {
    border: 3px #0000ff;
}

.app-window.background {
    background: @background_color;
}

.app-window treeview {
    color: @text_color;
    background: @secondary_color;
}

.app-popup list {
    background: @secondary_color;
}

.app-window paned separator {
    background: #37474f;
}

.app-window scrollbar {
    background: @background_color;
    border-left: 1px solid transparent;
}

.app-window menubar, menu {
    background: @background_color;
    color: #cccccc;
}

.status-indicator.dnd {
    color: #982929;
}

.status-indicator.online {
    color: #43B581;
}

.status-indicator.offline {
    color: #808080;
}

.status-indicator.idle {
    color: #FAA61A;
}

.profile-main-container {
    padding: 20px;
}

.profile-username {
    margin-left: 10px;
    font-size: 20px;
}

.profile-badge {
    margin-right: 10px;
}

.profile-switcher {
    padding-top: 5px;
}

.profile-connections {
    margin-top: 10px;
}

.profile-connection {
    background: @secondary_color;
    border-radius: 15px;
    margin-right: 20px;
}

.profile-connection box {
    padding: 5px;
}

.profile-stack {
    padding-top: 5px;
}

.profile-notes-label {
    padding-top: 5px;
    padding-bottom: 5px;
}

.profile-notes-text, .profile-notes-text text {
    background: @secondary_color;
}

.profile-notes-text text {
    border-radius: 5px;
    border: 1px solid #36515e;
    color: @text_color;
    padding-bottom: 5px;
}

.profile-badges {
    padding-left: 5px;
}

.app-window textview text {
    caret-color: #ababab;
}

.guild-members-pane-info {
    padding: 10px;
}


check,
radio {
    background-clip: padding-box;
    background: #32506e;
    border-color: #070707;
    box-shadow: 0 1px rgba(0, 0, 0, 0);
    color: #dddddd;
}

check:checked,
radio:checked {
    background-clip: border-box;
    background: #185fb4;
    border-color: #092444;
    box-shadow: 0 1px rgba(0, 0, 0, 0);
    color: #dddddd;
}
