/*
application wide stuff
has to be separate to allow main.css to override certain things
*/

.app-window tabbar .box {
    margin: -7px -1px -7px -1px;
    background: #2a2a2a;
    border: 1px solid black;
}

.app-window tabbar tab:hover {
    box-shadow: inset 0 -7px lighter(blue);
}

.app-window tabbar tab:checked {
    box-shadow: inset 0 -7px blue;
}

.app-window tabbar tab {
    background: #1A1A1A;
    border: 1px solid #808080;
}

.app-window tabbar tab.needs-attention:not(:checked) {
  font-weight: bold;
  animation: 150ms ease-in;
  background-image: radial-gradient(ellipse at bottom, #FF5370, #1A1A1A 30%);
}

.app-window label:not(:disabled) {
    color: @text_color;
}

.app-window entry {
    background: @secondary_color;
    color: @text_color;
    border: 1px solid #1c2e40;
}

.app-window button {
    background: @secondary_color;
    color: @text_color;
    text-shadow: none;
    box-shadow: none;
}

.app-window button:checked {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 3px solid #39a2ed;
    color: #ffffff;
}

.app-window button:not(:checked) {
    border: 3px #0000ff;
}

.app-window.background {
    background: @background_color;
}

.app-window treeview {
    color: @text_color;
}

.app-window treeview:not(:selected) {
    background: @secondary_color;
}

.app-popup list {
    background: @secondary_color;
}

.app-window paned separator {
    background: @background_color;
}

.app-window scrollbar {
    background: @background_color;
    border-left: 1px solid transparent;
}

.app-window menubar, menu {
    background: @background_color;
    color: #cccccc;
}

.app-window textview text {
    caret-color: #ababab;
}

.app-window check,
.app-window radio {
    background-clip: padding-box;
    background: @secondary_color;
    border-color: #070707;
    box-shadow: 0 1px rgba(0, 0, 0, 0);
    color: #dddddd;
}

.app-window check:checked,
.app-window radio:checked {
    background-clip: border-box;
    background: #0b4285;
    border-color: #092444;
    box-shadow: 0 1px rgba(0, 0, 0, 0);
    color: #dddddd;
}

.app-window colorswatch {
    box-shadow: 0 1px rgba(0, 0, 0, 0);
}
