/*
application wide stuff
has to be separate to allow main.css to override certain things
*/

.app-window label:not(:disabled) {
    color: @text_color;
}

.app-window entry {
    background: @secondary_color;
    color: @text_color;
    border: 1px solid #1c2e40;
}

.app-window button {
    background: @secondary_color;
    color: @text_color;
    text-shadow: none;
    box-shadow: none;
}

.app-window button:checked {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 3px solid #39a2ed;
    color: #ffffff;
}

.app-window button:not(:checked) {
    border: 3px #0000ff;
}

.app-window.background {
    background: @background_color;
}

.app-window treeview {
    color: @text_color;
}

.app-window treeview:not(:selected) {
    background: @secondary_color;
}

.app-window list, .app-popup list {
    background: @secondary_color;
}

.app-window paned separator {
    background: @background_color;
}

.app-window scrollbar {
    background: @background_color;
    border-left: 1px solid transparent;
}

.app-window menubar, menu {
    background: @background_color;
    color: #cccccc;
}

.app-window textview text {
    caret-color: #ababab;
}

.app-window check,
.app-window radio {
    background-clip: padding-box;
    background: @secondary_color;
    border-color: #070707;
    box-shadow: 0 1px rgba(0, 0, 0, 0);
    color: #dddddd;
}

.app-window check:checked,
.app-window radio:checked {
    background-clip: border-box;
    background: #0b4285;
    border-color: #092444;
    box-shadow: 0 1px rgba(0, 0, 0, 0);
    color: #dddddd;
}

.app-window colorswatch {
    box-shadow: 0 1px rgba(0, 0, 0, 0);
}

.app-window scale {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: @text_color;
}
