.embed {
    border-radius: 5px;
    padding: 10px;
}

.embed-footer {
    margin-top: 5px;
    font-size: 11px;
}

.embed-author {
    margin-bottom: 10px;
    font-size: 12px;
}

.message-attachment-box {
    border: 1px solid #aaaaaa;
    padding: 2px 5px 2px 5px;
}

.status-indicator.dnd {
    color: #982929;
}

.status-indicator.online {
    color: #43B581;
}

.status-indicator.offline {
    color: #808080;
}

.status-indicator.idle {
    color: #FAA61A;
}

.message-input textview, .message-input textview text {
    background-color: inherit;
}

.message-text, .message-text text {
    background: inherit;
}

.message-input textview {
    padding: 10px 5px;
}
