.embed {
    border-radius: 5px;
    padding: 10px;
}

.embed-footer {
    margin-top: 5px;
    font-size: 11px;
}

.embed-author {
    margin-bottom: 10px;
    font-size: 12px;
}

.message-attachment-box {
    border: 1px solid #aaaaaa;
    padding: 2px 5px 2px 5px;
}

.status-indicator.dnd {
    color: #982929;
}

.status-indicator.online {
    color: #43B581;
}

.status-indicator.offline {
    color: #808080;
}

.status-indicator.idle {
    color: #FAA61A;
}

/* make room for attachment icon */
.message-input.with-browse-icon {
    padding-left: 30px;
}
